// COLORS SYSTEM
$dark-10: #1A191E;
$dark-20: #1A191E;
$red-color: #EB3850;
$red-color-hover: #c72e42;
$white-color: #FFFFFF;
$background: #485563;
$color-button: #E8E8E8;

// SUPPORT COLORS

$blue-message: #2962FF;
$green-sucess: #0BB07B;
$yellow-warning: #FFCE52;
$red-error: #F03D3D;
$gray-information: #E0E0E0;


// GRADIENT COLORS
$gradient-color-red: linear-gradient(270deg, #A93E4C 0%, #EB3850 100%);
$gradient-color-yellow: linear-gradient(270deg, #D6AE7B 0%, #E3C79E 100%);
$gradient-color-dark: linear-gradient(270deg, #29323C 0%, #485563 100%);